{{>header}}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {{>dashbar}}

        <div class="col py-3">
            <div class="row " style="margin: 10px;">
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Administración</h3>
                            <strong class="d-inline-block mb-2 text-primary">Herramienta</strong>

                            <p class="card-text mb-auto">Esta herramienta administrativa esta desarrolalda para el
                                funcionamiento de la escuela, con el objetivo
                                de ayudar a los entrenadores a gestionar los pagos de sus alumnos.
                            </p>
                        </div>
                        <div class="col-auto d-none d-lg-block" style="padding-right:5px ;">
                            <i class=" bi bi-cash-coin" style="font-size: 10rem; color: springgreen;"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">

                            <h3 class="mb-0">Eficiencia</h3>
                            <strong class="d-inline-block mb-2 text-success">Diseño</strong>

                            <p class="mb-auto">La herramienta cuenta con diseños personalizados e interacciones
                                intuitivas
                                lo cual
                                permite al usuario tener una experiencia agradable.
                            </p>
                        </div>
                        <div class="col-auto d-none d-lg-block " style="padding-right:5px ;">
                            <i class="bi bi-pencil-square" style="font-size: 10rem; color: steelblue;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row " style="margin: 10px;">
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Control de Usuarios</h3>
                            <strong class="d-inline-block mb-2 text-primary">Gestión</strong>

                            <p class="card-text mb-auto">Esta herramienta cuenta con la capacidad del control total
                                sobre los usuarios, sin exponer dato
                                personales de los mismo, se podrá modificar a necesidad de la academia los respectivos
                                datos necesarios.
                            </p>
                        </div>
                        <div class="col-auto d-none d-lg-block" style="padding-right:5px ;">
                            <i class=" bi bi-people-fill" style="font-size: 10rem; color: black;"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">

                            <h3 class="mb-0">Control de Mensualidades</h3>
                            <strong class="d-inline-block mb-2 text-success">Recordatorios</strong>

                            <p class="mb-auto">La herramienta permite enviar recordatorios a los usuarios
                                automáticamente y manualmente al correo y al whatsapp de los usuarios.
                            </p>
                        </div>
                        <div class="col-auto d-none d-lg-block " style="padding-right:5px ;">
                            <i class="bi bi-calendar-week" style="font-size: 10rem; color:lightgray;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{> packages}}

{{>footer}}